[push]
	default = current
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	type = cat-file -t
	dump = cat-file -p
  l = log --pretty=format:'%Cred%h %Cgreen%<(6,trunc)%cr %Cblue%<(20)%an %Creset%<(51,trunc)%s %Cred%<(20)%d'
  fixup = commit --amend --no-edit
  amend = commit --amend
  poef = reset --hard
[merge]
  stat = true
  tool = vimdiff
[mergetool]
  prompt = false
[user]
	name = Bob Forma
	email = bobforma@gmail.com
[core]
	editor = vim
  excludesfile = ~/.gitignore
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[init]
  templatedir = ~/.git_template
